﻿
@model IEnumerable<libreria.Models.Author>

<select class="form-control selectpicker" name="authorId" id="authorId" multiple>
    @foreach (var item in Model)
    {
        <option value="@item.authorId">@item.name  </option>
    }
</select>



