﻿@model libreria.Models.BookAuthorCE

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Book</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.bookId)

        <div class="form-group">
            @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dateEdition, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dateEdition, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                @Html.ValidationMessageFor(model => model.dateEdition, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">

            <div class="control-label col-md-2">
                LIsta de autores
            </div>

            <div class="col-md-10">

                @Html.ListBoxFor(x => x.authorsSelected,
                new MultiSelectList(Model.authors, "authorId", "name"), new { @class = "form-control chosen-select", @multiple = "true" })
                @Html.ValidationMessageFor(model => model.authorsSelected, "", new { @class = "text-danger" })


            </div>
        </div>


       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script>
            //$(".chosen-select").chosen();

        $(function () {
            //$('#authorsSelected').val('@Model.authorsSelected');
        });

    </script>


    

}
