﻿@model IEnumerable<libreria.Models.BookCE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    @Html.Action("searchBook", "Book")
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Titile
        </th>
        <th>
            Edition
        </th>
        <th>
            Authors
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateEdition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.bookId }) 
            </td>
        </tr>
    }

</table>
